body {

  /* background: url(./images/claro_1_novo_pexels-valeria-boltneva-842571.jpg); */
  height: 100%;
  max-width: 100%;
}

.StartRecipe {
  background-color: white;
  bottom: 0%;
  color: #18a558;
  font-weight: 700;
  position: fixed;
  width: 100%;
}

.cardsRecomendation {
  bottom: 20%;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 50px;
  width: 100%;
}

.cards-box {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  width: 50%;
}

.stepDone {
  text-decoration: line-through;
}

.container-details-food {
  display: flex;
  flex-direction: column;
}


.container-datails-info {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.details-image-recipe {
  align-items: center;
  border-color: white;
  border-radius: 10%;
  border-style: solid;
  border-width: 3px;
  display: flex;
  height: 300px;
  margin: 20px;
  text-shadow: rgba(17, 17, 26, 1) 0 4px 10px , rgba(17, 17, 26, 2) 0 8px 25px;
  width: 80%;
}

.title-recipes {
  color: white;
  font-weight: 700;
  text-shadow: rgba(17, 17, 26, 1) 0 4px 10px , rgba(17, 17, 26, 2) 0 8px 25px;
}

.container-recipe-introduction {
  color: white;
  font-size: 15px;
  text-align: justify;
  text-shadow: rgba(17, 17, 26, 3) 0 4px 10px , rgba(17, 17, 26, 3) 0 8px 25px;
  width: 80%;
}

.container-btn {
  align-items: baseline;
  display: flex;
  flex-direction: row;
}

.btn-favorite {
  background-color: rgba(255, 255, 255, 0.515);
  border-radius: 20%;
  margin: 5px;
  padding: 5px;
}


.player {
  display: flex;
  height: 90%;
  width: 90%;
}
