.StartRecipe {
  bottom: 0%;
  position: fixed;
  width: 100%;
}

.cardsRecomendation {
  bottom: 20%;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 50px;
  width: 100%;
}

.cards-box {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  width: 360px;
}

.stepDone {
  text-decoration: line-through;
}

.cards {
  border-radius: 15%;
  box-shadow: 1px;
  left: 10px;
  width: 180px;
}

.button {
  background-color: rgb(248, 212, 218);
  border-radius: 25%;
  color: rgba(82, 73, 82, 0.205);
  text-align: center;
}

.background {
  background-image: url('https://i.pinimg.com/originals/fa/c5/da/fac5da92bfd44d02013076760996c6ff.jpgurl');
  width: 100%;
}

.profileCss {
  background-image: url('https://i.pinimg.com/736x/f5/b1/ea/f5b1ea665687e28370aaadeb8fedd768.jpg');
  width: 100%;
}

.ingredientCss {background: url('https://img.itdg.com.br/tdg/images/blog/uploads/2016/10/4c917f573e70ee981c775fef2ab867b2-600x500.jpg?w=1200');
  background-repeat: no-repeat;
  width: 100%;
}
